@import "./main.css";

:root {
    --top-offset: calc(var(--top-navbar-offset) + var(--min-nav-height));
}


.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - var(--top-offset));
    padding-top: var(--top-offset);
}

.main-wrapper-half {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.main-wrapper-vertical-half {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
}





.name-headline {
    display: flex;
    margin: 0px;
    font-size: 100px;
    margin-top: 20rem;
    margin-left: 4rem;
}