@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Doto:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Fonts: 
  -font-family: "Oswald", sans-serif;
  -font-family: "Roboto", sans-serif;
  -font-family: "Bebas Neue", sans-serif;
  -font-family: "Doto", sans-serif;
*/


html, body, :root {
  --bg-color: hsl(0, 3%, 12%);
  --bright-bg: hsl(0, 2%, 24%);
  --bighter-bg: hsl(0, 1%, 40%);
  --border-color: hsl(0, 0%, 40%);
  --navbar-border-color: hsl(0, 0%, 60%);
  --primary-color: hsl(0, 100%, 50%);
  --accent-color: hsl(24, 100%, 50%);

  --text-color: hsl(0, 0%, 95%);
  --link-color: blue;


  --default-border-radius: 8px;
  --default-blurring: blur(2px);
  --top-navbar-offset: 1.5rem;
  --min-nav-height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', system-ui, sans-serif;
  background-color: var(--bg-color);
  scrollbar-width: thin;
}


a {
    width: auto;
    color: var(--link-color);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}



.nav-wrapper {
  display: flex;
  flex-direction: row;
  gap: 25px;
  --paddint-l-r: 40px;
  padding-left: var(--paddint-l-r);
  padding-right: var(--paddint-l-r);
  align-items: center;
  min-height: var(--min-nav-height);
  position: fixed;
  top: var(--top-navbar-offset);
  left: calc(100vw - 38rem);
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: var(--default-border-radius);

  outline-color: var(--navbar-border-color);
  outline-width: 1px;
  outline-style: solid;

  backdrop-filter: var(--default-blurring);
  font-family: "Bebas Neue", sans-serif !important;

  box-shadow: 
    inset 3px 5px 10px hsla(0, 0%, 50%, 50%), 
    3px 3px 7px hsla(0, 0%, 20%, 50%);
}

.nav-wrapper a {
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--text-color);

  transition: all 0.2s;
}

.nav-wrapper a:hover {
  color: var(--accent-color);
}

.nav-wrapper-active-a {
  color: rgb(150, 150, 150) !important;
}




/*
.footer {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
}
*/



/* Improvements:
  -Interactive background
  -? Add shadow to Navbar
*/



/* Animations and Entrances */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
