@import "./main.css";
/*background: linear-gradient(#e66465, #9198e5);*/


:root {
    --top-offset: calc(var(--top-navbar-offset) + var(--min-nav-height));

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui, sans-serif;
    background-color: var(--bg-color);
    scrollbar-width: thin;
}


.project-wrapper {
    display: flex;
    height: calc(100vh - var(--top-offset));
    width: 100%;

    justify-content: center;
    align-items: center;
}

.first-project-wrapper {
    margin-top: var(--top-offset);
}

.project-wrapper-box {
    display: flex;
    width: 80%;
    height: 85%;
    background-color: var(--bright-bg);

    outline-style: solid;
    outline-color: var(--border-color);
    outline-width: 1px;
    border-radius: var(--default-border-radius);
}

.project-wrapper-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.project-wrapper-quarter {
    display: flex;
    height: 50%;
    width: 100%;

    justify-content: center;
    align-items: center;
}



.project-headline {
    font-family: "Oswald", sans-serif !important;
    font-size: 45px;
    color: var(--text-color);
}