html, body, :root {
  --background-color: rgb(51, 51, 51);
  --primary-color: rgb(47, 39, 206);
  --secondary-color: rgb(222, 220, 255);
  --accent-color: rgb(68, 61, 255);
  --unimportant-color: rgb(105, 104, 106);
  --important-color: rgb(255, 100, 100);
  --text-color: rgb(200, 200, 200);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --nav-bar-height: 65px;
  --skill-tree-color-opacity: 0.4;

  --project-page-dividing-text-size: 40%;
  --skills-headline-height: 100px;


  font-family: 'Roboto', system-ui, sans-serif;
  background: linear-gradient(45deg,rgba(51, 51, 70, 1) 0%, rgba(34, 34, 60, 1) 36%, rgba(25, 28, 50, 1) 100%);
  color: var(--text-color);
}


a {
    display: inline-block;
    width: auto;
    color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
}

.headline-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 55px;
    height: var(--nav-bar-height);
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 15px;
    left: calc(100vw - 95vw);
    z-index: 100;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0px 5px 5px rgba(255, 255, 255, 0.07), 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.half-headline-div-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
  animation: fade-in-left 1.2s ease-out forwards;
}
.half-headline-div-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 65%;
  opacity: 0;
  animation-delay: 0.4s !important;
  animation: fade-in-left 1.2s ease-out forwards;
}

.half-headline-div-right-third {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.3%;
  color: var(--text-color);
}

.website-filler {
  display: flex;
  height: calc(100vh - var(--nav-bar-height));
  width: 100%;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: row;
  opacity: 0;
  animation: fade-in-left 1s ease-out 0.5s forwards;
}

.nav-item {
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
  align-items: center;
  border-color: rgb(255, 255, 255, 0.3);
  color: var(--text-color) !important;
}
.nav-item:hover {
  letter-spacing: 3px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.1);
  font-size: 22px;
}

.selected-nav-item {
  color: rgb(60, 50, 206) !important;
  text-decoration: bold;
  border-color: rgba(0, 0, 255, 0.5) !important;
}

.selected-nav-item:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 255, 0.5) !important;
  border-color: rgba(0, 0, 255, 0.5) !important;
  background-color: rgba(0, 0, 255, 0.1) !important;
}

.name-text {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  border-radius: 25px;
  transition: 0.5s;
  border-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.name-text:hover {
  color: var(--primary-color);
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.01);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.1), inset 0px 3px 3px rgba(0, 0, 0, 0.45);
}

.footer-text {
    color: var(--unimportant-color);
}

.footer {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
}


/*Css Klassen für index html*/
.index-half-divider-left, .index-half-divider-right {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.index-half-divider-left-top, .index-half-divider-left-bottom {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-half-divider-left-bottom {
  justify-content: normal;
}


.highlighted-text-headline {
  color: var(--primary-color);
  font-size: 45px;
  transition: 0.5s;
  padding: 5px;
  margin-left: 0px;
  border-radius: 35px;
  z-index: -10;

  background: linear-gradient(150deg,var(--primary-color) 50%, var(--secondary-color) 110%);
  background-size: 200%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlighted-text-headline:hover {
  font-size: 60px;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.6), 0px 3px 3px rgba(255, 255, 255, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 60px rgba(0, 0, 255, 0.2);
  background-position: -350px 0px;
  margin-left: 15px;
  padding: 25px;
}


/*Projects html Classes:*/

.website-filler-projects {
  display: flex;
  height: calc(min(100vh, 1000px) - var(--nav-bar-height));
  width: calc(100%-15px);
  justify-content: center;
  align-items: space-evenly;
  flex-direction: row;
  opacity: 0;
  animation: fade-in-left 1s ease-out 0.5s forwards;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  /*box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), inset 0px 3px 3px rgba(255, 255, 255, 0.2);*/
}

.page-half-left {
  display: flex;
  height: 100%;
  width: var(--project-page-dividing-text-size);
  box-sizing: border-box;
  flex-direction: column;
}

.page-half-right {
  display: flex;
  height: 100%;
  width: calc(100% - var(--project-page-dividing-text-size));
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-quarter-text-top {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 100px;
}

.page-quarter-text-bottom {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-quarter-text-bottom-description {
  height: 50%;
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.description-text-headline {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.description-text {
  margin: 0;
  margin-bottom: 1px;
}

.stats-text {
  margin: 0;
}

.page-quarter-text-bottom-stats {
  height: 50%;
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.project-img-width {
  width: 94%;
  object-fit: contain;
  border-radius: 18px;
  transition: 0.5s;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-radius: 18px;
  border-style: solid;
  box-sizing: border-box;
}

.project-img-width:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.95);
  width: 98%;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
}



.project-h1 {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.015);
  box-shadow: inset 1px 3px 3px rgba(255, 255, 255, 0.14), 1px 4px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}



/*Css classes for skills*/

.website-filler-skills {
  display: flex;
  height: 2000px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  opacity: 0;
  animation: fade-in-left 1s ease-out 0.7s forwards;
  border-bottom: 3px dashed rgba(20, 20, 20, 0.5);

  margin-top: 20px;
}

.skills-third-divider {
  display: flex;
  height: 100%;
  width: 33.3%;
  flex-direction: column;
}

.skill-two_thirds-divider {
  display: flex;
  height: 100%;
  width: 67.67%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-two_thirds-divider-half {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.skills-third-divider-headline {
  display: flex;
  width: 100%;
  height: var(--skills-headline-height);
  justify-content: center;
  align-items: center;
}


.skills-third-divider-main, .skills-third-divider-main-third {
  display: flex;
  width: 100%;
  height: calc(100% - var(--skills-headline-height));
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.skills-third-divider-main-third {
  flex-direction: row !important;
}

.skills-headline-text {
  color: var(--primary-color);
}

.skill-main-element-green, .skill-main-element-red, .skill-main-element-blue {
  display: flex;
  width: 55%;
  height: 130px;
  flex-direction: column;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  transition: 0.2s;
}


.skill-main-element-green:hover {
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.08), 1px 4px 3px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.3);
  /*border-color: rgba(0, 0, 150, calc(var(--skill-tree-color-opacity) + 0.2));*/
  width: 60%;
  height: 150px;
  border-width: 1px;
  background-color: rgba(0, 255, 0, 0.05);
}

.skill-main-element-red:hover {
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.08), 1px 4px 3px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.3);
  /*border-color: rgba(0, 0, 150, calc(var(--skill-tree-color-opacity) + 0.2));*/
  width: 60%;
  height: 150px;
  border-width: 1px;
  background-color: rgba(255, 0, 0, 0.05);
}

.skill-main-element-blue:hover {
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.08), 1px 4px 3px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.3);
  /*border-color: rgba(0, 0, 150, calc(var(--skill-tree-color-opacity) + 0.2));*/
  width: 60%;
  height: 150px;
  border-width: 1px;
  background-color: rgba(0, 0, 255, 0.05);
}

.skill-main-element-head {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.skill-main-element-body {
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}