html, body, #root {
  --background-color: rgb(33, 30, 30);
  --primary-color: rgb(240, 93, 35);
  --secondary-color: ;
  --accent-color: ;
  --unimportant-color: ;
  --important-color: ;
  --text-color: rgb(255, 255, 255);
  --link-color: blue;
  --default-border-radius: 15px;
  --default-blurring: blur(2px);

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', system-ui, sans-serif;
  background-color: var(--background-color);

  scrollbar-width: thin;
}


a {
    width: auto;
    color: var(--link-color);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}



.nav-wrapper {
  display: flex;
  align-items: center;
  min-height: 40px;
  position: fixed;
  top: 2rem;
  right: 8rem;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: var(--default-border-radius);

  outline-color: rgb(150, 150, 150);
  outline-width: 1px;
  outline-style: solid;

  backdrop-filter: var(--default-blurring);
}

.nav-wrapper a {
  --spacing: 30px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  color: var(--text-color);
}

.nav-wrapper-active-a {
  color: rgb(150, 150, 150) !important;
}




.footer {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
}



@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
