html, body, #root {
  --background-color: hsl(221, 45%, 20%);
  --primary-color: rgb(47, 39, 206);
  --secondary-color: rgb(222, 220, 255);
  --accent-color: rgb(68, 61, 255);
  --unimportant-color: rgb(105, 104, 106);
  --important-color: rgb(255, 100, 100);
  --text-color: rgb(200, 200, 200);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --nav-bar-height: 65px;
  --skill-tree-color-opacity: 0.4;

  --project-page-dividing-text-size: 40%;
  --skills-headline-height: 100px;


  font-family: 'Roboto', system-ui, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);

  scrollbar-width: thin;
}


a {
    display: inline-block;
    width: auto;
    color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
}



.footer {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
}



@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
