body, :root {
    --background-color: rgb(0, 0, 0);
    --primary-color: rgb(47, 39, 206);
    --secondary-color: rgb(222, 220, 255);
    --accent-color: rgb(68, 61, 255);
    --unimportant-color: rgb(105, 104, 106);
    --important-color: rgb(255, 100, 100);
    --text-color: rgb(200, 200, 200);

    --default-transition: 0.3s ease;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', system-ui, sans-serif;
}

body {
    background-color: var(--background-color) !important;
}




.nav-bar-wrapper {
    display: flex;
    position: fixed;
    top: 0px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}


.nav-bar {
    display: flex;
    height: 100%;
    width: 85%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    border-color: rgba(255, 255, 255, .2);
    border-style: solid;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: var(--default-transition);
}



.nav-bar-half-left, .nav-bar-half-right {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.nav-bar-half-left {
    width: 25% !important;   
}
.nav-bar-half-right {
    justify-content: space-evenly !important;
}


.nav-bar-name {
    color: var(--text-color);
    font-size: 30px;
}


.nav-bar-button, .nav-bar-button-selected {
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    padding: 10px;
    border-radius: 45px;
    box-sizing: border-box;
    transition: 0.5s ease;
    padding-left: 35px;
    padding-right: 35px;
}

.nav-bar-button:hover, .nav-bar-button-selected:hover {
    background-color: rgba(100, 100, 100, 0.3);
    box-shadow: inset 0.5px 1.5px 3px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(30, 30, 30, 0.4);
    color: black;
    border: none;
}
.nav-bar-button-selected:hover {
    color: rgb(0, 0, 200) !important;
}


.nav-bar-button-selected {
    color: var(--accent-color) !important;
}







/*Project CSS*/


.project-div-first {
    display: flex;
    height: 100vh;
    width: 100vw;
    border-radius: 15px;
}